body {
  background-color: #8a1548;
}

.card {
  background: linear-gradient(#cc2b52, transparent);
  font-family: Outfit;
  text-align: center;
  width: 300px;
  padding: 10px;
  margin: auto;
  border-bottom: 8px solid #cc2b52;
  border-radius: 10px;
  box-shadow: 0 0 10px 0;
  text-align: center;
}

h1 {
  font-size: 30px;
  margin: 0;
}

h2 {
  font-size: 20px;
  letter-spacing: 2px;
}

p {
  text-align: justify;
  font-size: 15px;
  padding: 10px;
  font-weight: 350;
}

.sky_img {
  height: 200px;
  width: 200px;
  background-image: url(../../../Imagenes/Sky_the_pug.jpg);
  background-position: center;
  background-size: contain;
  border-radius: 10px;
  box-shadow: 0 0 10px 0;
  margin: auto;
}

.img_opaco {
  height: 200px;
  width: 200px;
  background-color: #0005;
  border-radius: 10px;
}

h3 {
  color: #fff;
  text-align: center;
  padding-top: 80px;
}

span {
  color: #fff;
  padding-left: 100px;
}

